<!-- ==============================================================
     BLINDADO - NO MODIFICAR SIN PERMISO EXPLICITO DEL DUENO
     Explicar antes de editar. Contenido sagrado protegido.
============================================================== -->

    <!-- ========================================================== -->
    <!-- MODAL: FÁBRICA DE FORMULARIOS DE INSCRIPCIÓN               -->
    <!-- ========================================================== -->
    {% if session.get('role') == 'Superusuario' %}    {% include 'partials/base_links_modal_body.html' %}
    <script src="{{ url_for('static', filename='js/links_factory.js') }}"></script>
    <script src="{{ url_for('static', filename='js/links_factory2.js') }}"></script>
    {% endif %}
