<script>
let eventoEditando = null;
let modalEvento = null;
let eventoAEliminar = null;
let modalEliminarEvento1 = null;
let modalEliminarEvento2 = null;
const COTIZACIONES_BUSETA_URL = '{{ url_for('main.cotizaciones_buseta') }}';
const CAMINATA_UPLOAD_URL = "{{ url_for('main.api_upload_image') }}";
</script>
<script src="{{ url_for('static', filename='js/caminatas_crud.js') }}"></script>
<script src="{{ url_for('static', filename='js/caminatas_form.js') }}"></script>
<script src="{{ url_for('static', filename='js/caminatas_fecha_modal.js') }}"></script>
<script src="{{ url_for('static', filename='js/caminatas_editar.js') }}"></script>
<script src="{{ url_for('static', filename='js/evento_guard.js') }}"></script>
<script src="{{ url_for('static', filename='js/caminatas_pagos.js') }}"></script>
