<script>
const CURRENT_USER_ROLE = "{{ session.get('role', '') }}";
</script>
<script src="{{ url_for('static', filename='js/dashboard_users.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_user_fields.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_card.js') }}"></script>
<script src="{{ url_for('static', filename='js/dashboard_share.js') }}"></script>
{% include 'partials/dashboard_users_list.html' %}
{% include 'partials/dashboard_users_detail.html' %}
