                <option value="bi bi-balloon">bi bi-balloon</option>
                <option value="bi bi-heart">bi bi-heart</option>
                <option value="bi bi-gift">bi bi-gift</option>
                <option value="bi bi-stars">bi bi-stars</option>
                <option value="bi bi-sun">bi bi-sun</option>
                <option value="bi bi-moon">bi bi-moon</option>
                <option value="bi bi-music-note-beam">bi bi-music-note-beam</option>
                <option value="bi bi-calendar-event">bi bi-calendar-event</option>
                <option value="bi bi-emoji-smile">bi bi-emoji-smile</option>
                <option value="bi bi-emoji-heart-eyes">bi bi-emoji-heart-eyes</option>
